.cascading-right {
    margin-right: -250px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }

  section{
    height:60%;
    width:80%" 
  }
  #div4{
    background: hsla(159, 21%, 21%, 0.272);
    backdrop-filter: blur(50px);
  }